<div class="home-container">
    <div class="content-block container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="title-section">
                    <p class="home-title"><span>Discovery</span> Lab</p>
                    <p class="home-subtitle">An interactive Lab with numerous questions that helps honing the skills of the students</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="login-section">
                    <div class="asu-block">
                        <div class="buttons-toggle-section">
                            <button ng-click="toggleclass('asu')" ng-class="{'login-active': showasu}">ASU</button>
                            <button ng-click="toggleclass('guest')" ng-class="{'login-active': !showasu}">GUEST</button>
                        </div>
                        <div ng-show="showasu" class="login-form">
                            <form name="asuForm" ng-submit="submitASUForm(asuForm.$valid)" novalidate>
                                <div class="field-block">
                                    <input type="text" name ="userid" ng-model="asuuser.userid" placeholder="ASURITE User ID">
                                    <p ng-show="asuForm.userid.$error.required && !asuForm.userid.$pristine">User ID is required</p>
                                </div>
                                
                                <div class="field-block">
                                    <input type="password" name ="password" ng-model="asuuser.password" placeholder="password">
                                    <p ng-show="asuForm.password.$error.required && !asuForm.password.$pristine">Password is required</p>
                                </div>
                                
                                <button type="submit" ng-disabled="asuForm.$invalid">Log In</button>
                            </form>
                        </div>
                        
                        <div ng-hide="showasu" class="login-form">
                            {{guestuser}}
                            <form name="guestForm" ng-submit="submitGuestForm(guestForm.$valid)" novalidate>
                                <div class="field-block">
                                    <input type="text" name ="email" ng-model="guestuser.email" placeholder="Enter your Email">
                                    <p ng-show="guestForm.email.$error.required && !guestForm.email.$pristine">Email is required</p>
                                    <p ng-show="guestForm.email.$error.email && !guestForm.email.$pristine">Email is invalid </p>
                                </div>
                                
                                <div class="field-block">
                                    <input type="text" name ="name" ng-model="guestuser.name" placeholder="Enter your Name">
                                    <p ng-show="guestForm.name.$error.required && !guestForm.name.$pristine">Password is required</p>
                                </div>
                                
                                <button type="submit" ng-disabled="guestForm.$invalid">Log In</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>